pide_api/Connected Services/ServiceReference/PideService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://controller.pide.sunarp.gob.pe/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PideService" targetNamespace="http://controller.pide.sunarp.gob.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:ns12="http://controller.pide.sunarp.gob.pe/" xmlns:ns10="http://controller.pide.sunarp.gob.pe/" xmlns:ns13="http://controller.pide.sunarp.gob.pe/" xmlns:ns11="http://controller.pide.sunarp.gob.pe/" targetNamespace="http://controller.pide.sunarp.gob.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Respuesta" type="ns11:respuestaNaveAeronaveBean" />
      <xs:element name="oficina" nillable="true" type="ns11:respuestaOficinaRegistralBean" />
      <xs:element name="personaJuridica" nillable="true" type="ns11:respuestaBusquedaPJBean" />
      <xs:element name="resultadoTitularidad" type="ns11:resultadoTitularidad" />
      <xs:complexType name="respuestaTitularidad">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="respuestaTitularidad" nillable="true" type="ns11:resultadoTitularidad" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resultadoTitularidad">
        <xs:sequence>
          <xs:element name="registro" type="xs:string" />
          <xs:element name="libro" type="xs:string" />
          <xs:element name="apPaterno" type="xs:string" />
          <xs:element name="apMaterno" type="xs:string" />
          <xs:element name="nombre" type="xs:string" />
          <xs:element name="razonSocial" type="xs:string" />
          <xs:element name="tipoDocumento" type="xs:string" />
          <xs:element name="numeroDocumento" type="xs:string" />
          <xs:element name="numeroPartida" type="xs:string" />
          <xs:element name="numeroPlaca" type="xs:string" />
          <xs:element name="estado" type="xs:string" />
          <xs:element name="zona" type="xs:string" />
          <xs:element name="oficina" type="xs:string" />
          <xs:element name="mensaje" type="xs:string" />
          <xs:element name="direccion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaPartidaBean">
        <xs:sequence>
          <xs:element name="transaccion" type="xs:long" />
          <xs:element minOccurs="0" name="nroTotalPag" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listAsientos" nillable="true" type="ns11:asientosBean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listFichas" nillable="true" type="ns11:fichaBean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listFolios" nillable="true" type="ns11:tomoFolioBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="asientosBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="idImgAsiento" type="xs:decimal" />
          <xs:element minOccurs="0" name="numPag" type="xs:decimal" />
          <xs:element minOccurs="0" name="tipo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listPag" nillable="true" type="ns11:numeroPaginasBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="numeroPaginasBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="nroPagRef" type="xs:string" />
          <xs:element minOccurs="0" name="pagina" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fichaBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="idImgFicha" type="xs:decimal" />
          <xs:element minOccurs="0" name="numPag" type="xs:decimal" />
          <xs:element minOccurs="0" name="tipo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listPag" nillable="true" type="ns11:numeroPaginasBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tomoFolioBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="idImgFolio" type="xs:decimal" />
          <xs:element minOccurs="0" name="nroPagRef" type="xs:string" />
          <xs:element minOccurs="0" name="pagina" type="xs:string" />
          <xs:element minOccurs="0" name="tipo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaVehiculoBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="placa" type="xs:string" />
          <xs:element minOccurs="0" name="serie" type="xs:string" />
          <xs:element minOccurs="0" name="vin" type="xs:string" />
          <xs:element minOccurs="0" name="nro_motor" type="xs:string" />
          <xs:element minOccurs="0" name="color" type="xs:string" />
          <xs:element minOccurs="0" name="marca" type="xs:string" />
          <xs:element minOccurs="0" name="modelo" type="xs:string" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="sede" type="xs:string" />
          <xs:element minOccurs="0" name="propietarios" type="ns11:propietarioBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="propietarioBean">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaBusquedaPJBean">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="resultado" nillable="true" type="ns11:datosPJBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="datosPJBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="zona" type="xs:string" />
          <xs:element minOccurs="0" name="oficina" type="xs:string" />
          <xs:element minOccurs="0" name="partida" type="xs:string" />
          <xs:element minOccurs="0" name="ficha" type="xs:string" />
          <xs:element minOccurs="0" name="tomo" type="xs:string" />
          <xs:element minOccurs="0" name="folio" type="xs:string" />
          <xs:element minOccurs="0" name="tipo" type="xs:string" />
          <xs:element minOccurs="0" name="denominacion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaNaveAeronave">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="respuestaNaveAeronave" nillable="true" type="ns11:respuestaNaveAeronaveBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaNaveAeronaveBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="matricula" type="xs:string" />
          <xs:element minOccurs="0" name="oficina" type="xs:string" />
          <xs:element minOccurs="0" name="numeroPartida" type="xs:string" />
          <xs:element minOccurs="0" name="numeroFicha" type="xs:string" />
          <xs:element minOccurs="0" name="registro" type="xs:string" />
          <xs:element minOccurs="0" name="libro" type="xs:string" />
          <xs:element minOccurs="0" name="numeroSerie" type="xs:string" />
          <xs:element minOccurs="0" name="modelo" type="xs:string" />
          <xs:element minOccurs="0" name="tipoBien" type="xs:string" />
          <xs:element minOccurs="0" name="tomoFolio">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="tomoFolio" nillable="true" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaOficinaRegistralBean">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="oficina" nillable="true" type="ns11:oficinaRegistralBean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oficinaRegistralBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="codZona" type="xs:string" />
          <xs:element minOccurs="0" name="codOficina" type="xs:string" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="verDetalleRPV">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="zona" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="oficina" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="placa" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="buscarNaveAeronave">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="numeroMatricula" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listarAsientos">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="zona" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="oficina" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="partida" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="registro" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getOficinas">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="verAsiento">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="transaccion" nillable="true" type="xs:long" />
            <xs:element form="unqualified" name="idImg" nillable="true" type="xs:long" />
            <xs:element form="unqualified" name="tipo" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="nroTotalPag" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="nroPagRef" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="pagina" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="buscarTitularidad">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="tipoParticipante" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="apellidoPaterno" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="apellidoMaterno" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="nombres" nillable="true" type="xs:string" />
            <xs:element form="unqualified" name="razonSocial" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="buscarPJRazonSocial">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="razonSocial" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="verDetalleRPVResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="vehiculo" nillable="true" type="ns11:respuestaVehiculoBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="buscarNaveAeronaveResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="respuestaNaveAeronave" nillable="true" type="ns11:respuestaNaveAeronave" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listarAsientosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="asientos" nillable="true" type="ns11:respuestaPartidaBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getOficinasResponse">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="verAsientoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="img" nillable="true" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="buscarTitularidadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="unqualified" name="respuestaTitularidad" nillable="true" type="ns11:respuestaTitularidad" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="buscarPJRazonSocialResponse">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="buscarNaveAeronave">
    <part name="numeroMatricula" type="xsd:string" />
  </message>
  <message name="verDetalleRPV">
    <part name="zona" type="xsd:string" />
    <part name="oficina" type="xsd:string" />
    <part name="placa" type="xsd:string" />
  </message>
  <message name="buscarPJRazonSocialResponse">
    <part name="personaJuridica" element="tns:personaJuridica" />
  </message>
  <message name="buscarTitularidad">
    <part name="tipoParticipante" type="xsd:string" />
    <part name="apellidoPaterno" type="xsd:string" />
    <part name="apellidoMaterno" type="xsd:string" />
    <part name="nombres" type="xsd:string" />
    <part name="razonSocial" type="xsd:string" />
  </message>
  <message name="verDetalleRPVResponse">
    <part name="vehiculo" type="tns:respuestaVehiculoBean" />
  </message>
  <message name="buscarPJRazonSocial">
    <part name="razonSocial" type="xsd:string" />
  </message>
  <message name="getOficinas" />
  <message name="listarAsientos">
    <part name="zona" type="xsd:string" />
    <part name="oficina" type="xsd:string" />
    <part name="partida" type="xsd:string" />
    <part name="registro" type="xsd:string" />
  </message>
  <message name="getOficinasResponse">
    <part name="oficina" element="tns:oficina" />
  </message>
  <message name="verAsientoResponse">
    <part name="img" type="xsd:base64Binary" />
  </message>
  <message name="buscarTitularidadResponse">
    <part name="respuestaTitularidad" type="tns:respuestaTitularidad" />
  </message>
  <message name="listarAsientosResponse">
    <part name="asientos" type="tns:respuestaPartidaBean" />
  </message>
  <message name="verAsiento">
    <part name="transaccion" type="xsd:long" />
    <part name="idImg" type="xsd:long" />
    <part name="tipo" type="xsd:string" />
    <part name="nroTotalPag" type="xsd:string" />
    <part name="nroPagRef" type="xsd:string" />
    <part name="pagina" type="xsd:string" />
  </message>
  <message name="buscarNaveAeronaveResponse">
    <part name="respuestaNaveAeronave" type="tns:respuestaNaveAeronave" />
  </message>
  <portType name="PIDEWSService">
    <operation name="buscarTitularidad" parameterOrder="tipoParticipante apellidoPaterno apellidoMaterno nombres razonSocial">
      <input wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/buscarTitularidadRequest" message="tns:buscarTitularidad" />
      <output wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/buscarTitularidadResponse" message="tns:buscarTitularidadResponse" />
    </operation>
    <operation name="buscarNaveAeronave">
      <input wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/buscarNaveAeronaveRequest" message="tns:buscarNaveAeronave" />
      <output wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/buscarNaveAeronaveResponse" message="tns:buscarNaveAeronaveResponse" />
    </operation>
    <operation name="listarAsientos" parameterOrder="zona oficina partida registro">
      <input wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/listarAsientosRequest" message="tns:listarAsientos" />
      <output wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/listarAsientosResponse" message="tns:listarAsientosResponse" />
    </operation>
    <operation name="verAsiento" parameterOrder="transaccion idImg tipo nroTotalPag nroPagRef pagina">
      <input wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/verAsientoRequest" message="tns:verAsiento" />
      <output wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/verAsientoResponse" message="tns:verAsientoResponse" />
    </operation>
    <operation name="verDetalleRPV" parameterOrder="zona oficina placa">
      <input wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/verDetalleRPVRequest" message="tns:verDetalleRPV" />
      <output wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/verDetalleRPVResponse" message="tns:verDetalleRPVResponse" />
    </operation>
    <operation name="buscarPJRazonSocial">
      <input wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/buscarPJRazonSocialRequest" message="tns:buscarPJRazonSocial" />
      <output wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/buscarPJRazonSocialResponse" message="tns:buscarPJRazonSocialResponse" />
    </operation>
    <operation name="getOficinas">
      <input wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/getOficinasRequest" message="tns:getOficinas" />
      <output wsam:Action="http://controller.pide.sunarp.gob.pe/PIDEWSService/getOficinasResponse" message="tns:getOficinasResponse" />
    </operation>
  </portType>
  <binding name="PIDEWSServicePortBinding" type="tns:PIDEWSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="buscarTitularidad">
      <soap:operation soapAction="buscarTitularidad" />
      <input>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </output>
    </operation>
    <operation name="buscarNaveAeronave">
      <soap:operation soapAction="buscarNaveAeronave" />
      <input>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </output>
    </operation>
    <operation name="listarAsientos">
      <soap:operation soapAction="listarAsientos" />
      <input>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </output>
    </operation>
    <operation name="verAsiento">
      <soap:operation soapAction="verAsiento" />
      <input>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </output>
    </operation>
    <operation name="verDetalleRPV">
      <soap:operation soapAction="verDetalleRPV" />
      <input>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </output>
    </operation>
    <operation name="buscarPJRazonSocial">
      <soap:operation soapAction="buscarPJRazonSocial" />
      <input>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" parts="" />
        <soap:header message="tns:buscarPJRazonSocialResponse" part="personaJuridica" use="literal" />
      </output>
    </operation>
    <operation name="getOficinas">
      <soap:operation soapAction="getOficinas" />
      <input>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://controller.pide.sunarp.gob.pe/" parts="" />
        <soap:header message="tns:getOficinasResponse" part="oficina" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PideService">
    <port name="PIDEWSServicePort" binding="tns:PIDEWSServicePortBinding">
      <soap:address location="http://ws3.pide.gob.pe/services/SunarpPideService" />
    </port>
  </service>
</definitions>