pide_api/Web References/pe.gob.pide.ws3/WSAuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSAuthentication_wsdl.wsauth.reniec.gob.pe/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSAuthenticationService" targetNamespace="http://WSAuthentication_wsdl.wsauth.reniec.gob.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://WSAuthentication_wsdl.wsauth.reniec.gob.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getTicket" type="tns:getTicket" />
      <xs:element name="getTicketResponse" type="tns:getTicketResponse" />
      <xs:complexType name="getTicket">
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTicketResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getTicket">
    <wsdl:part name="parameters" element="tns:getTicket" />
  </wsdl:message>
  <wsdl:message name="getTicketResponse">
    <wsdl:part name="parameters" element="tns:getTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="WSAuthentication">
    <wsdl:operation name="getTicket">
      <wsdl:input name="getTicket" message="tns:getTicket" />
      <wsdl:output name="getTicketResponse" message="tns:getTicketResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSAuthenticationServiceSoapBinding" type="tns:WSAuthentication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTicket">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTicket">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTicketResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSAuthenticationService">
    <wsdl:port name="WSAuthenticationPort" binding="tns:WSAuthenticationServiceSoapBinding">
      <soap:address location="http://localhost:8080/reniec2/WSAuthentication" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>